<html>
  <head>
    <title>やっぱり雨は降るんだね</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./app.css"/>
    <script src="./app.js"></script>
  </head>
  <body>
    <loader style="position:fixed;width:100%;height:100%;z-index:100;background-color:#fff;transition: all 3s cubic-bezier(0.19, 1, 0.22, 1) 150ms;"></loader>
    <done style="position:fixed;width:100%;height:100%;transform:scale(1.2);transition: all 5s cubic-bezier(0.19, 1, 0.22, 1);">
      <tuyu-bg-before data-blur="true" style="--blur-strength: 40px"><img id="background" src="./ame-bg.jpg"/></tuyu-bg-before>
      <tuyu-bg></tuyu-bg>
      <div class="center">
        <div class="slide" id="slide_toggle"><img class="contrast-ame" src="./ame-white.png"/><img class="contrast-tuyu" src="./tuyu-white.png"/><img class="contrast-custom" id="custom_logo" data-custom="data-custom"/></div>
      </div>
      <div class="rain">
        <canvas width="100%" height="100%"></canvas>
      </div>
      <div class="calendar" id="calendar" data-show="false"></div>
      <div class="info" data-show="false" data-pos="4">
        <div class="time">
          <h1><span id="hour">12</span>:<span id="min">00</span><span id="sec"></span> <span id="ampm"></span></h1>
        </div>
        <div class="div"></div>
        <div class="weather" id="weather_widget" data-show="0">
          <div class="head">
            <h1 id="temp"></h1><img id="wicon"/>
          </div>
          <div class="sub">
            <p><img src="./fonts/wind.svg"></img> <span id="winds"></span></p>
            <p><img src="./fonts/opacity-white.svg"></img> <span id="humid"></span></p>
            <p><img src="./fonts/cloud.svg"></img> <span id="clouds"></span></p>
          </div>
        </div>
      </div>
    </done>
  </body>
</html>