html
  head
    title やっぱり雨は降るんだね
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./app.css")
    script(src="./app.js")
  body
    loader(style="position:fixed;width:100%;height:100%;z-index:100;background-color:#fff;transition: all 3s cubic-bezier(0.19, 1, 0.22, 1) 150ms;")
    done(style="position:fixed;width:100%;height:100%;transform:scale(1.2);transition: all 5s cubic-bezier(0.19, 1, 0.22, 1);")
      tuyu-bg-before(data-blur="true")
        img#background(src="./ame-bg.jpg")
      tuyu-bg
      .center
        .slide#slide_toggle
          img.contrast-ame(src="./ame-white.png")
          img.contrast-tuyu(src="./tuyu-white.png")
      .rain
        canvas(width="100%" height="100%")
      .calendar#calendar(data-show="false")
      .info(data-show="false" data-pos="4")
        .time
          h1 <span id="hour">12</span>:<span id="min">00</span><span id="sec"></span> <span id="ampm"></span>
        .div
        .weather#weather_widget(data-show="0")
          .head
            h1#temp
            img#wicon
          .sub
            p <img src="./fonts/wind.svg"></img> <span id="winds"></span>
            p <img src="./fonts/opacity-white.svg"></img> <span id="humid"></span>
            p <img src="./fonts/cloud.svg"></img> <span id="clouds"></span>