@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

