@import 'slide.scss';
@import 'fonts.scss';
@import 'ripple.scss';

loader {
  pointer-events: none;
}

loader[data-done='true'] {
  opacity: 0 !important;
}

done {
  transform: scale(1.2);
}

done[data-done='true'] {
  opacity: 1 !important;
  transform: scale(1) !important;
}

html,
body {
  width: 100%;
  height: 100%;
  image-rendering: optimizeQuality;
  shape-rendering: crispEdges;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

tuyu-bg,
tuyu-bg-before {
  position: fixed;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
}

tuyu-bg-before {
  z-index: -2;

  img {
    min-width: 100%;
    min-height: 100%;
  }

  &:not([data-blur='0']) {
    filter: saturate(120%) blur(var(--blur-strength, 40px));
  }
}

$morning: linear-gradient(30deg, rgb(58, 149, 172), rgb(59, 127, 230));
$rain-night: linear-gradient(30deg, rgb(43, 45, 46), rgb(20, 20, 20));
$clear-night: linear-gradient(30deg, rgb(34, 50, 68), rgb(34, 36, 48));

tuyu-bg {
  z-index: 1;
  background: $rain-night;
  opacity: 0.5;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
div,
span {
  margin: 0;
}

.no-display,
.no-display img {
  opacity: 0 !important;
}

.center,
.rain {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.center {
  justify-content: center;
  align-items: center;

  .slide {
    margin: auto;
    display: contents;

    transition: 0.3s opacity cubic-bezier(0.19, 1, 0.22, 1);

    opacity: 1;
  }

  .contrast-ame,
  .contrast-tuyu,
  .contrast-custom {
    position: absolute;
    margin: auto;
  }
}

.rain {
  position: fixed;

  canvas {
    opacity: 0.5;
  }
}

.contrast-ame {
  height: 34vh;
}

.contrast-tuyu {
  height: 13vh;
}

.contrast-custom {
  opacity: 0;
}

.contrast-custom {
  transform: scale(var(--scale, 1));
}

.info {
  z-index: 2;
  position: fixed;
  display: flex;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);

  &[data-pos='1'] {
    left: 7vw;
    top: 7vh;
  }

  &[data-pos='2'] {
    right: 7vw;
    top: 7vh;
  }

  &[data-pos='3'] {
    left: 7vw;
    bottom: 7vh;
  }

  &[data-pos='4'] {
    right: 7vw;
    bottom: 7vh;
  }

  opacity: 0;

  &[data-show='true'] {
    opacity: 1;
  }

  font-family: 'Noto Sans', sans-serif;
  color: white;

  .time,
  .weather {
    margin: auto;
    text-shadow: 0px 0px 20px #323232;
  }

  .time {
    opacity: 1;
    text-align: right;

    h1 {
      font-weight: 300;
    }

    p {
      display: flex;
      font-weight: 100;
      margin-top: -8px;
      justify-content: flex-end;
    }

    span#sec {
      font-weight: 100;
      font-size: 16px;
    }

    span#ampm {
      font-weight: 100;
      font-size: 18px;
    }
  }

  .div {
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    width: 1px;
    height: 50px;
    margin-top: 10px;
    margin: 10% 20px;
    background-color: #fff;
    opacity: 0;

    &[data-done='true'] {
      opacity: 0.4;
    }
  }

  .weather {
    opacity: 0;
    transform: translateX(15px);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);

    .head,
    .sub {
      display: flex;
      letter-spacing: -0.66px;
    }

    .head h1 {
      font-weight: 100;
    }

    #wicon {
      width: 46px;
      height: 46px;
      filter: grayscale(0.6);
    }

    .sub {
      font-weight: 100;
      margin-top: -10px;

      p {
        display: flex;
        margin-right: 5px;
        font-size: 14px;
        margin-top: 2px;
      }

      p img {
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 2px;
        width: 14px;
        height: 14px;
      }
    }

    &[data-done='true'] {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
